spring.datasource.url=jdbc:h2:mem:clientesdb
spring.datasource.username=sa
spring.datasource.password=
spring.datasource.driver-class-name=org.h2.Driver
spring.h2.console.enabled=true

api.key=vdnEzH2MMzw8rQzzixNih_Np_6lbh8MwS1TxMpIvG6g